.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  padding: 2rem calc(50% - 30rem);
  border-bottom: 2px #0D0D46 solid;
  width: calc(100% - 2rem);
}

.container svg {
  height: 4rem;
  width: auto;
  cursor: pointer;
}

.links {
  transform: translateY(.3rem);
}

.container a {
  margin-left: 3rem;
  border-bottom: 4px transparent solid;
  transition: border .2s, border-bottom .2s;
}

.container a:hover, .container a:active {
  border-bottom: 4px #00ADB5 solid;
}

a.avatar {
  margin-left: 2rem;
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  bottom: -.85rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 4px transparent solid;
}

a.avatar:hover {
  border: 4px #00ADB5 solid;
}

.avatar img {
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 645px) {
  .container {
    padding: 2rem calc(50% - 30rem) 1rem;
  }

  .container svg {
    height: 3rem;
  }

  .container a {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }

  a.avatar {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    bottom: -4px;
  }
}

@media (max-width: 450px) {
  .container svg {
    height: 2rem;
  }

  .container a {
    font-size: 1rem;
    margin-left: 1.25rem;
  }

  .links {
    transform: translateY(.4rem);
  }

  a.avatar {
    height: calc(2rem + 8px);
    width: calc(2rem + 8px);
    margin-left: .75rem;
  }
}

@media (max-width: 320px) {
  .container a {
    margin-left: 1rem;
  }

  .links {
    transform: translateY(4px);
  }

  a.avatar {
    height: calc(1.75rem + 8px);
    width: calc(1.75rem + 8px);
    margin-left: .5rem;
  }
}
