.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles {
  width: calc(100% - 2rem);
  max-width: 50rem;
  margin: 2rem 0 4rem;
}

.article {
  cursor: pointer;
  margin: 0;
  padding: .5rem 0;
  border-bottom: 1px solid #ccc;
}

.article:last-child {
  border-bottom: 0;
}

.article h2 {
  display: inline;
  line-height: 1.25;
  border-bottom: 4px dotted transparent;
  transition: border-color .2s;
}

.article:hover h2 {
  border-color: #00ADB5
}

.article span {
  display: block;
  margin-top: .5rem;
  color: #00ADB5;
}

.article p {
  line-height: 1.5;
  margin-top: .5rem;
  font-size: 1.25rem;
}

.article > *:last-child {
  margin-bottom: 1rem;
}
