.progress {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  justify-content: space-between;
}

.progress > * {
  margin-top: .5rem;
}

.finish {
  display: inline-block;
  background-color: #00ADB5;
  padding: .75rem;
  font-size: 1.25rem;
  color: #fff;
  line-height: 2rem;
  border-radius: .5rem;
  min-width: 13.5rem;
  text-align: center;
}

.ring {
  display: flex;
  align-items: center;
}

.progressBar {
  height: 3.75rem;
  width: auto;
  margin-right: .5rem;
  font-size: 1rem;
}
